In [50]:
"""
скрипт для проверки вхождения адреса студента в определенный диапазон
"""

'\nскрипт для проверки вхождения адреса студента в определенный диапазон\n'

In [51]:
import pandas as pd

In [52]:
street_df = pd.read_excel('data/улицы.xlsx')
df = pd.read_excel('data/Студенты БРИТ 21_06_2023.xlsx',usecols=['Фамилия','Имя','Отчество','Дата рождения','Группа','Адрес регистрации'])

In [53]:
street_df

          Улица
0       Блюхера
1    Грачевская
2    Джидинская
3     Житкевича
4      Заречная
..          ...
322    Ботаника
323      Орбита
324    Субургаа
325   Урда-Улаа
326     Шамбала

[327 rows x 1 columns]

In [54]:
lst_street = street_df['Улица'].tolist() # превращаем в список

In [55]:
df

,Фамилия,Имя,Отчество,Дата рождения,Группа,Адрес регистрации
0,Ананьев,Вадим,Игоревич,03.09.2005,CВ-211,"671950, Россия, г. Закаменск (03), Респ. Бурят..."
1,Анкудинов,Виктор,Павлович,06.03.2004,CВ-211,"г. Улан-Удэ, ул. Каландаришвили, д.17, кв.2/1"
2,Бандеев,Эрдэни,Баирович,26.08.2005,CВ-211,"671020, Россия, у. Охор-Шибирь (03), Респ. Бур..."
3,Вампилов,Егор,Цыренович,16.06.2005,CВ-211,"671928, Россия, у. Дэдэ-Ичетуй (03), Респ. Бур..."
4,Гаськов,Кирилл,Романович,04.05.2005,CВ-211,"670018, Россия, г. Улан-Удэ (03), Респ. Буряти..."
...,...,...,...,...,...,...
1593,Анохин,Даниил,Евгеньевич,2006-02-12 00:00:00,ЧПУ-22,"РБ, г. Улан-Удэ, ул. Яковлева, 13-62"
1594,Балыков,Антон,Александрович,2006-05-02 00:00:00,ЧПУ-22,"РБ, г. Улан-Удэ, ул. Яковлева, 13-62"
1595,Дунаев,Сергей,Евгеньевич,NaN,СВ-201,NaN
1596,Бондарь,Александр,Сергеевич,2002-08-15 00:00:00,СПС-202,"РБ, Мухоршибирский район, с. Подлопатки, ул. Г..."
1597,Казаков,Павел,Николаевич,2001-11-19 00:00:00,ТУ-20,NaN

In [56]:
df['Адрес регистрации'] =df['Адрес регистрации'].fillna('нет адреса')

In [57]:
#  отбираем тех у кого адресе есть Улан-Удэ
df_city = df[df['Адрес регистрации'].str.contains('Улан-Удэ')]

In [58]:
df_city.shape

(527, 6)

In [59]:
df_city['Фильтр'] = df_city['Адрес регистрации'].str.contains('|'.join(lst_street),case=False)

C:\Users\1\AppData\Local\Temp\ipykernel_4800\1337999102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_city['Фильтр'] = df_city['Адрес регистрации'].str.contains('|'.join(lst_street),case=False)

In [60]:
df_city = df_city[df_city['Фильтр']]

In [61]:
df_city.shape

(156, 7)

In [62]:
df_city

,Фамилия,Имя,Отчество,Дата рождения,Группа,Адрес регистрации,Фильтр
11,Массальский,Алексей,Владимирович,22.11.2005,CВ-211,"670023, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
19,Харакчинов,Жаргал,Юрьевич,07.07.2004,CВ-211,"670004, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
31,Зайцев,Алексей,Дмитриевич,07.05.2004,CВ-212,"670009, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
42,Тимошин,Николай,Витальевич,06.04.2005,CВ-212,"670010, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
45,Андреев,Андрей,Александрович,09.09.2005,АМ -211,"670004, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
...,...,...,...,...,...,...,...
1557,Усов,Андрей,Сергеевич,21.06.2004,ЭО-20,"РБ, г. Улан-Удэ, ул. Брестская, 24-2",True
1566,Бушков,Даниил,Денисович,26.01.2006,ЭО-22,"РБ, г. Улан-Удэ, ул. Левитана, 7-3",True
1581,Тубанов,Ринчин,Денисович,22.07.2006,ЭО-22,"670018, Россия, с. Поселье (03), Респ. Бурятия...",True
1582,Филиппов,Дмитрий,Павлович,24.04.2006,ЭО-22,"670004, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
1585,Кушнарёв,Денис,Павлович,2006-08-11 00:00:00,АМ-221,"РБ, г. Улан-Удэ, ул. Буйко, 27-40",True

In [63]:
df_city.drop(columns='Фильтр',inplace=True)

In [64]:
df_city.to_excel('Итоговый список.xlsx',index=False)