In [115]:
"""
скрипт для проверки вхождения адреса студента в определенный диапазон
"""

'\nскрипт для проверки вхождения адреса студента в определенный диапазон\n'

In [116]:
import pandas as pd

In [117]:
#street_df = pd.read_excel('data/улицы.xlsx')
street_df = pd.read_excel('data/25 окр.xlsx')

df = pd.read_excel('data/Студенты БРИТ 21_06_2023.xlsx',usecols=['Фамилия','Имя','Отчество','Дата рождения','Группа','Адрес регистрации'])

In [118]:
street_df

                Улица  Unnamed: 1
0    50-летия Октября         NaN
1          Московская         NaN
2      Революции 1905         NaN
3            Цивилева         NaN
4            Гагарина         NaN
..                ...         ...
123           Зеленый         NaN
124        Изумрудная         NaN
125   Мостостроителей         NaN
126      Первоцветная         NaN
127           Угловая         NaN

[128 rows x 2 columns]

In [119]:
lst_street = street_df['Улица'].tolist() # превращаем в список
lst_street = list(map(str,lst_street))

In [120]:
df

,Фамилия,Имя,Отчество,Дата рождения,Группа,Адрес регистрации
0,Ананьев,Вадим,Игоревич,03.09.2005,CВ-211,"671950, Россия, г. Закаменск (03), Респ. Бурят..."
1,Анкудинов,Виктор,Павлович,06.03.2004,CВ-211,"г. Улан-Удэ, ул. Каландаришвили, д.17, кв.2/1"
2,Бандеев,Эрдэни,Баирович,26.08.2005,CВ-211,"671020, Россия, у. Охор-Шибирь (03), Респ. Бур..."
3,Вампилов,Егор,Цыренович,16.06.2005,CВ-211,"671928, Россия, у. Дэдэ-Ичетуй (03), Респ. Бур..."
4,Гаськов,Кирилл,Романович,04.05.2005,CВ-211,"670018, Россия, г. Улан-Удэ (03), Респ. Буряти..."
...,...,...,...,...,...,...
1593,Анохин,Даниил,Евгеньевич,2006-02-12 00:00:00,ЧПУ-22,"РБ, г. Улан-Удэ, ул. Яковлева, 13-62"
1594,Балыков,Антон,Александрович,2006-05-02 00:00:00,ЧПУ-22,"РБ, г. Улан-Удэ, ул. Яковлева, 13-62"
1595,Дунаев,Сергей,Евгеньевич,NaN,СВ-201,NaN
1596,Бондарь,Александр,Сергеевич,2002-08-15 00:00:00,СПС-202,"РБ, Мухоршибирский район, с. Подлопатки, ул. Г..."
1597,Казаков,Павел,Николаевич,2001-11-19 00:00:00,ТУ-20,NaN

In [121]:
df['Адрес регистрации'] =df['Адрес регистрации'].fillna('нет адреса')

In [122]:
#  отбираем тех у кого адресе есть Улан-Удэ
df_city = df[df['Адрес регистрации'].str.contains('Улан-Удэ')]

In [123]:
df_city.shape

(527, 6)

In [124]:
df_city['Фильтр'] = df_city['Адрес регистрации'].str.contains('|'.join(lst_street),case=False)

C:\Users\1\AppData\Local\Temp\ipykernel_4800\1337999102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_city['Фильтр'] = df_city['Адрес регистрации'].str.contains('|'.join(lst_street),case=False)

In [125]:
df_city = df_city[df_city['Фильтр']]

In [126]:
df_city.shape

(83, 7)

In [127]:
df_city

,Фамилия,Имя,Отчество,Дата рождения,Группа,Адрес регистрации,Фильтр
31,Зайцев,Алексей,Дмитриевич,07.05.2004,CВ-212,"670009, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
42,Тимошин,Николай,Витальевич,06.04.2005,CВ-212,"670010, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
46,Бабичев,Илья,Алексеевич,02.08.2005,АМ -211,"670009, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
73,Бурлаков,Максим,Евгеньевич,28.07.2004,АМ-20,"670004, Россия, г.Улан-Удэ, ул.Революции 1905г...",True
80,Мерзляков,Егор,Евгеньевич,31.05.2004,АМ-20,"670009, Россия,г. Улан-Удэ, ул. Гарнаева, д.31...",True
...,...,...,...,...,...,...,...
1503,Махаев,Артем,Евгеньевич,27.09.2005,Э-21,"670024, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
1518,Егоров,Димитрий,Константинович,06.05.2006,Э-22,"670045, Россия, г. Улан-Удэ (03), Респ. Буряти...",True
1534,Швец,Александр,Викторович,19.12.2006,Э-22,"РБ, г. Улан-Удэ, ул. Гагарина, 77А-68",True
1585,Кушнарёв,Денис,Павлович,2006-08-11 00:00:00,АМ-221,"РБ, г. Улан-Удэ, ул. Буйко, 27-40",True
1592,Соломонов,Андрей,Артемьевич,2004-09-08 00:00:00,ТЭПС-22,"РБ, г. Улан-Удэ, ул. Пр-кт 50-летия Октября, 2...",True

In [128]:
df_city.drop(columns='Фильтр',inplace=True)

In [129]:
df_city.to_excel('Итоговый список.xlsx',index=False)