In [ ]:
"""
Выделение региона и района из данных абитуриентов
"""

In [11]:
import pandas as pd
import openpyxl
import time
from openpyxl.utils.dataframe import dataframe_to_rows
import re

In [6]:
ab_df = pd.read_excel('data/Абитуриенты.xlsx',sheet_name='Абитуриенты',skiprows=8,usecols=['ФИО','Адрес регистрации','Состояние выбран. конкурса'])

In [7]:
ab_df = ab_df[ab_df['Состояние выбран. конкурса'] == 'Зачислен'] # оставялем только зачисленных

In [8]:
ab_df.shape

(495, 3)

In [9]:
ab_df.drop(columns='Состояние выбран. конкурса',inplace=True)

In [10]:
ab_df.head()

,ФИО,Адрес регистрации
1,Абсаматов Вадим Чимид-Цыренович,"671710, Россия, пгт. Нижнеангарск (03), Респ. ..."
6,Авсеевич Радмила Станиславовна,"671178, Россия, с. Средний Убукун (03), Респ. ..."
9,Агафонов Семен Владимирович,"670050, Россия, г. Улан-Удэ (03), Респ. Буряти..."
10,Агеев Роман Алексеевич,"671404, Россия, п. Майла (03), Респ. Бурятия, ..."
11,Айхлер Павел Владимирович,"671820, Россия, пгт. Наушки (03), Респ. Буряти..."

In [19]:
ab_df['Регион'] = ab_df['Адрес регистрации'].apply(lambda x:re.search(r'\(\d{2}\),(.+?,)',x).group(1)) # регион

In [20]:
ab_df.head()

,ФИО,Адрес регистрации,Регион
1,Абсаматов Вадим Чимид-Цыренович,"671710, Россия, пгт. Нижнеангарск (03), Респ. ...","Респ. Бурятия,"
6,Авсеевич Радмила Станиславовна,"671178, Россия, с. Средний Убукун (03), Респ. ...","Респ. Бурятия,"
9,Агафонов Семен Владимирович,"670050, Россия, г. Улан-Удэ (03), Респ. Буряти...","Респ. Бурятия,"
10,Агеев Роман Алексеевич,"671404, Россия, п. Майла (03), Респ. Бурятия, ...","Респ. Бурятия,"
11,Айхлер Павел Владимирович,"671820, Россия, пгт. Наушки (03), Респ. Буряти...","Респ. Бурятия,"