In [1]:
"""
скрипт для разбиения по тепловозниками и электровозникам
"""

'\nскрипт для разбиения по тепловозниками и электровозникам\n'

In [2]:
import pandas as pd

In [8]:
path_to_machine = 'data/Машинисты.xlsx'
path_to_reit = 'data/Рейтинг машинисты.xlsx'
path_to_person = 'data/Абитуриенты.xlsx'

In [12]:
machine_df = pd.read_excel(path_to_machine) # распредление по специальностям
reit_df = pd.read_excel(path_to_reit,skiprows=4,header=None) # файл с таблицей из ворда
df_person = pd.read_excel(path_to_person,sheet_name='Абитуриенты',skiprows=8) # данные абитуриентов

In [13]:
machine_df.head(2)

,электровоз,атт,мед справка,средний балл,тепловоз,атт.1,мед справка.1,средний балл.1,проводник,атт.2,мед справка.2,средний балл.2
0,Арьяев Денис Александрович,да,да,3.5,Колоколов Александр Витальевич,да,нет,NaN,NaN,NaN,NaN,NaN
1,Данзанов Баян-Мунхэ Жаргалович,да,да,NaN,Воронов Максим Алексеевич,да,нет,NaN,NaN,NaN,NaN,NaN

In [14]:
reit_df.head(2)

   0               1  2     3  4      5  6   7  8    9
0  1  154-483-839-91  1  4.85  0  4.847  0 NaN  0  нет
1  2  191-409-787-91  1  4.39  0  4.389  0 NaN  0   да

In [16]:
snils_df = df_person[['ФИО','СНИЛС']]

In [18]:
snils_df = snils_df.drop_duplicates(subset='ФИО') # убираем дубликаты

In [20]:
snils_df.head(2)

                             ФИО           СНИЛС
0  Абросова Анастасия Витальевна  147-022-734-38
1    Авдеев Сергей Александрович  155-320-704-36

In [22]:
snils_df.merge(reit_df,how='outer',left_on='СНИЛС',right_on=1,indicator=True)

,ФИО,СНИЛС,0,1,2,3,4,5,6,7,8,9,_merge
0,Абросова Анастасия Витальевна,147-022-734-38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,Авдеев Сергей Александрович,155-320-704-36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,Агафонов Семен Владимирович,172-941-745-90,67.0,172-941-745-90,1.0,3.63,0.0,3.632,0.0,NaN,0.0,да,both
3,Агеев Роман Алексеевич,164-257-089-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,Айхлер Павел Владимирович,150-435-730-34,98.0,150-435-730-34,1.0,3.48,0.0,3.476,0.0,NaN,0.0,да,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,Яковлев Михаил Юрьевич,149-735-115-90,32.0,149-735-115-90,1.0,3.90,0.0,3.900,0.0,NaN,0.0,нет,both
564,Яковлева Валерия Антоновна,172-692-355-91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
565,Яньков Иван Игоревич,147-934-627-02,97.0,147-934-627-02,1.0,3.50,0.0,3.500,0.0,NaN,0.0,да,both
566,Яшин Никита Денисович,153-879-724-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
567,NaN,2300564,79.0,2300564,1.0,3.57,0.0,3.571,0.0,NaN,0.0,да,right_only