In [124]:
"""
скрипт для подсчета сирот и детей СВО
"""

'\nскрипт для подсчета сирот и детей СВО\n'

In [125]:
import pandas as pd
import openpyxl
import time
from openpyxl.utils.dataframe import dataframe_to_rows

In [126]:
ab_df = pd.read_excel('data/Абитуриенты.xlsx',sheet_name='Абитуриенты',skiprows=8,dtype={'ИНН':str,'Серия УЛ':str,'Номер УЛ':str})
dop_df = pd.read_excel('data/доп статусы.xlsx',skiprows=3)

In [127]:
ab_df = ab_df[ab_df['Состояние выбран. конкурса'] == 'Зачислен'] # оставялем только зачисленных
ab_df = ab_df[ab_df['Вид возмещения затрат'] == 'бюджет'] #отбираем только бюджетников


replace_dct = {'Отделение железнодорожного транспорта':'ЖД','Отделение металлообработки':'МО',
               'Отделение энергоснабжения':'ЭО','Хоринский филиал':'ХФ',}

ab_df['Формирующее подр.'] = ab_df['Формирующее подр.'].replace(replace_dct)

unit_lst = ab_df['Формирующее подр.'].unique()

dct_unit = {key:None for key in unit_lst}

In [128]:
ab_df = ab_df[ab_df['Нуждается в общежитии'] == 'да'] # оставляем т

In [129]:
ab_df = ab_df[['ФИО','Контактный телефон','Мобильный телефон','Адрес регистрации','Формирующее подр.']]

In [130]:
ab_df.shape

(215, 5)

In [131]:
ab_df.head()

,ФИО,Контактный телефон,Мобильный телефон,Адрес регистрации,Формирующее подр.
5,Авсеевич Радмила Станиславовна,89516315807,NaN,"671178, Россия, с. Средний Убукун (03), Респ. ...",МО
10,Агеев Роман Алексеевич,89503889501,NaN,"671404, Россия, п. Майла (03), Респ. Бурятия, ...",МО
16,Алексеев Александр Викторович,89146324991,NaN,"671820, Россия, пгт. Наушки (03), Респ. Буряти...",ЖД
19,Алексеенко Григорий Эдуардович,89834233431,NaN,"671336, Россия, пгт. Онохой (03), Респ. Буряти...",МО
21,Алиева Дарья Борисовна,NaN,8.951631e+10,"671220, Россия, рп. Танхой (03), Респ. Бурятия...",ЭО

In [132]:
dop_df.shape

(758, 12)

In [133]:
dop_df.head()

,Личный №,СНИЛС,№ заявления,Абитуриент,Доп. статус,Пол,Паспорт,Дата рождения,Состояние,Дата добавления,Место работы,Статус
0,2300001,175-042-211-36,1,Болонев Никита Алексеевич,NaN,М,8120 890946,07.12.2006,Забрал документы,20.06.2023,NaN,Да
1,2300002,162-099-278-79,34,Аршинская Татьяна Алексеевна,NaN,Ж,7619 053216,09.04.2005,Зачислен,20.06.2023,NaN,Да
2,2300003,152-562-694-70,3,Цыренов Станислав Арьяевич,Спортивные достижения;,М,8119 866341,03.04.2006,Зачислен,20.06.2023,NaN,Да
3,2300004,153-385-323-63,225\n226\n4,Подшивалов Василий Олегович,Сирота; (c 10.05.2012),М,8120 892675,16.10.2006,Зачислен,20.06.2023,NaN,Да
4,2300005,156-075-139-63,5\n544,Аносова Кристина Евгеньевна,"Дети военнослужащих, участвующих в спецопераци...",Ж,8120 901145,20.03.2007,Зачислен,20.06.2023,NaN,Да

In [134]:
dop_df = dop_df[['Абитуриент','Доп. статус']]

In [135]:
merge_df = ab_df.merge(dop_df,left_on='ФИО',right_on='Абитуриент',how='inner')

In [136]:
merge_df.shape

(215, 7)

In [137]:
merge_df.head()

,ФИО,Контактный телефон,Мобильный телефон,Адрес регистрации,Формирующее подр.,Абитуриент,Доп. статус
0,Авсеевич Радмила Станиславовна,89516315807,NaN,"671178, Россия, с. Средний Убукун (03), Респ. ...",МО,Авсеевич Радмила Станиславовна,NaN
1,Агеев Роман Алексеевич,89503889501,NaN,"671404, Россия, п. Майла (03), Респ. Бурятия, ...",МО,Агеев Роман Алексеевич,NaN
2,Алексеев Александр Викторович,89146324991,NaN,"671820, Россия, пгт. Наушки (03), Респ. Буряти...",ЖД,Алексеев Александр Викторович,"Дети военнослужащих, участвующих в спецопераци..."
3,Алексеенко Григорий Эдуардович,89834233431,NaN,"671336, Россия, пгт. Онохой (03), Респ. Буряти...",МО,Алексеенко Григорий Эдуардович,NaN
4,Алиева Дарья Борисовна,NaN,8.951631e+10,"671220, Россия, рп. Танхой (03), Респ. Бурятия...",ЭО,Алиева Дарья Борисовна,NaN

In [138]:
merge_df['Доп. статус'] = merge_df['Доп. статус'].fillna('')

In [139]:
svo_df = merge_df[merge_df['Доп. статус'].str.contains('военнослужащих')]
sirot_df = merge_df[merge_df['Доп. статус'].str.contains('Сирота')]

In [140]:
svo_df.shape

(6, 7)

In [141]:
svo_df.drop(columns=['Абитуриент','Доп. статус'],inplace=True)

C:\Users\1\AppData\Local\Temp\ipykernel_19488\2718884617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  svo_df.drop(columns=['Абитуриент','Доп. статус'],inplace=True)

In [142]:
sirot_df.drop(columns=['Абитуриент','Доп. статус'],inplace=True)

C:\Users\1\AppData\Local\Temp\ipykernel_19488\625467679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sirot_df.drop(columns=['Абитуриент','Доп. статус'],inplace=True)

In [143]:
sirot_df.shape

(14, 5)

In [144]:
for name in unit_lst:
    temp_df = svo_df[svo_df['Формирующее подр.']== name]
    temp_df.sort_values(by='ФИО',inplace=True)
    dct_unit[name] = temp_df

C:\Users\1\AppData\Local\Temp\ipykernel_19488\1309226404.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.sort_values(by='ФИО',inplace=True)

In [145]:
t = time.localtime()
current_time = time.strftime('%H_%M_%S', t)

wb = openpyxl.Workbook()
# Переименовываем лист
sheet = wb['Sheet']
sheet.title = 'ЖД'
wb.create_sheet('МО',index=1)
wb.create_sheet('ЭО',index=2)
wb.create_sheet('ХФ',index=3)

for name,df in dct_unit.items():    
    for r in dataframe_to_rows(df,index =False,header=True):
        if len(r) != 1:
            wb[name].append(r)

for name in unit_lst:
    wb[name].column_dimensions['A'].width =40
    wb[name].column_dimensions['B'].width =10
    wb[name].column_dimensions['C'].width =20
    wb[name].column_dimensions['D'].width =90


# Сохраняем итоговый файл
wb.save(f'data/Дети СВО от {current_time}.xlsx')

In [146]:
# создаем список сирот

In [147]:
for name in unit_lst:
    temp_df = sirot_df[sirot_df['Формирующее подр.']== name]
    temp_df.sort_values(by='ФИО',inplace=True)
    dct_unit[name] = temp_df    

t = time.localtime()
current_time = time.strftime('%H_%M_%S', t)

wb = openpyxl.Workbook()
# Переименовываем лист
sheet = wb['Sheet']
sheet.title = 'ЖД'
wb.create_sheet('МО',index=1)
wb.create_sheet('ЭО',index=2)
wb.create_sheet('ХФ',index=3)

for name,df in dct_unit.items():    
    for r in dataframe_to_rows(df,index =False,header=True):
        if len(r) != 1:
            wb[name].append(r)

for name in unit_lst:
    wb[name].column_dimensions['A'].width =40
    wb[name].column_dimensions['B'].width =10
    wb[name].column_dimensions['C'].width =20
    wb[name].column_dimensions['D'].width =90


# Сохраняем итоговый файл
wb.save(f'data/Сироты от {current_time}.xlsx')

C:\Users\1\AppData\Local\Temp\ipykernel_19488\68532904.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.sort_values(by='ФИО',inplace=True)