In [75]:
"""
скрипт для подсчета сирот и детей СВО
"""

'\nскрипт для подсчета сирот и детей СВО\n'

In [76]:
import pandas as pd
import openpyxl
import time
from openpyxl.utils.dataframe import dataframe_to_rows

In [98]:
ab_df = pd.read_excel('data/Абитуриенты.xlsx',sheet_name='Абитуриенты',skiprows=8,dtype={'ИНН':str,'Серия УЛ':str,'Номер УЛ':str})
dop_df = pd.read_excel('data/доп статусы.xlsx',skiprows=3)

In [99]:
ab_df = ab_df[ab_df['Состояние выбран. конкурса'] == 'Зачислен'] # оставялем только зачисленных


replace_dct = {'Отделение железнодорожного транспорта':'ЖД','Отделение металлообработки':'МО',
               'Отделение энергоснабжения':'ЭО','Хоринский филиал':'ХФ',}

ab_df['Формирующее подр.'] = ab_df['Формирующее подр.'].replace(replace_dct)

unit_lst = ab_df['Формирующее подр.'].unique()

dct_unit = {key:None for key in unit_lst}

In [ ]:
ab_df = ab_df[ab_df['Нуждается в общежитии'] == 'да'] # оставляем т

In [79]:
ab_df = ab_df[['ФИО','Контактный телефон','Мобильный телефон','Адрес регистрации','Формирующее подр.']]

In [80]:
ab_df.shape

(496, 5)

In [81]:
ab_df.head()

,ФИО,Контактный телефон,Мобильный телефон,Адрес регистрации,Формирующее подр.
1,Абсаматов Вадим Чимид-Цыренович,89240183312,NaN,"671710, Россия, пгт. Нижнеангарск (03), Респ. ...",ЖД
6,Авсеевич Радмила Станиславовна,89516315807,NaN,"671178, Россия, с. Средний Убукун (03), Респ. ...",МО
9,Агафонов Семен Владимирович,89952847750,NaN,"670050, Россия, г. Улан-Удэ (03), Респ. Буряти...",ЖД
10,Агеев Роман Алексеевич,89503889501,NaN,"671404, Россия, п. Майла (03), Респ. Бурятия, ...",МО
11,Айхлер Павел Владимирович,89025383282,NaN,"671820, Россия, пгт. Наушки (03), Респ. Буряти...",ЖД

In [82]:
dop_df.shape

(753, 12)

In [83]:
dop_df.head()

,Личный №,СНИЛС,№ заявления,Абитуриент,Доп. статус,Пол,Паспорт,Дата рождения,Состояние,Дата добавления,Место работы,Статус
0,2300001,175-042-211-36,1,Болонев Никита Алексеевич,NaN,М,8120 890946,07.12.2006,Забрал документы,20.06.2023,NaN,Да
1,2300002,162-099-278-79,34,Аршинская Татьяна Алексеевна,NaN,Ж,7619 053216,09.04.2005,Зачислен,20.06.2023,NaN,Да
2,2300003,152-562-694-70,3,Цыренов Станислав Арьяевич,Спортивные достижения;,М,8119 866341,03.04.2006,Зачислен,20.06.2023,NaN,Да
3,2300004,153-385-323-63,225\n226\n4,Подшивалов Василий Олегович,Сирота; (c 10.05.2012),М,8120 892675,16.10.2006,Зачислен,20.06.2023,NaN,Да
4,2300005,156-075-139-63,5\n544,Аносова Кристина Евгеньевна,"Дети военнослужащих, участвующих в спецопераци...",Ж,8120 901145,20.03.2007,Зачислен,20.06.2023,NaN,Да

In [84]:
dop_df = dop_df[['Абитуриент','Доп. статус']]

In [85]:
merge_df = ab_df.merge(dop_df,left_on='ФИО',right_on='Абитуриент',how='inner')

In [86]:
merge_df.shape

(496, 7)

In [87]:
merge_df.head()

,ФИО,Контактный телефон,Мобильный телефон,Адрес регистрации,Формирующее подр.,Абитуриент,Доп. статус
0,Абсаматов Вадим Чимид-Цыренович,89240183312,NaN,"671710, Россия, пгт. Нижнеангарск (03), Респ. ...",ЖД,Абсаматов Вадим Чимид-Цыренович,NaN
1,Авсеевич Радмила Станиславовна,89516315807,NaN,"671178, Россия, с. Средний Убукун (03), Респ. ...",МО,Авсеевич Радмила Станиславовна,NaN
2,Агафонов Семен Владимирович,89952847750,NaN,"670050, Россия, г. Улан-Удэ (03), Респ. Буряти...",ЖД,Агафонов Семен Владимирович,NaN
3,Агеев Роман Алексеевич,89503889501,NaN,"671404, Россия, п. Майла (03), Респ. Бурятия, ...",МО,Агеев Роман Алексеевич,NaN
4,Айхлер Павел Владимирович,89025383282,NaN,"671820, Россия, пгт. Наушки (03), Респ. Буряти...",ЖД,Айхлер Павел Владимирович,NaN

In [88]:
merge_df['Доп. статус'] = merge_df['Доп. статус'].fillna('')

In [89]:
svo_df = merge_df[merge_df['Доп. статус'].str.contains('военнослужащих')]
sirot_df = merge_df[merge_df['Доп. статус'].str.contains('Сирота')]

In [90]:
svo_df.shape

(13, 7)

In [91]:
svo_df.drop(columns=['Абитуриент','Доп. статус'],inplace=True)

C:\Users\1\AppData\Local\Temp\ipykernel_19488\2718884617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  svo_df.drop(columns=['Абитуриент','Доп. статус'],inplace=True)

In [92]:
sirot_df.drop(columns=['Абитуриент','Доп. статус'],inplace=True)

C:\Users\1\AppData\Local\Temp\ipykernel_19488\625467679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sirot_df.drop(columns=['Абитуриент','Доп. статус'],inplace=True)

In [93]:
sirot_df.shape

(34, 5)

In [94]:
for name in unit_lst:
    temp_df = svo_df[svo_df['Формирующее подр.']== name]
    temp_df.sort_values(by='ФИО',inplace=True)
    dct_unit[name] = temp_df

C:\Users\1\AppData\Local\Temp\ipykernel_19488\1309226404.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.sort_values(by='ФИО',inplace=True)

In [95]:
t = time.localtime()
current_time = time.strftime('%H_%M_%S', t)

wb = openpyxl.Workbook()
# Переименовываем лист
sheet = wb['Sheet']
sheet.title = 'ЖД'
wb.create_sheet('МО',index=1)
wb.create_sheet('ЭО',index=2)
wb.create_sheet('ХФ',index=3)

for name,df in dct_unit.items():    
    for r in dataframe_to_rows(df,index =False,header=True):
        if len(r) != 1:
            wb[name].append(r)

for name in unit_lst:
    wb[name].column_dimensions['A'].width =40
    wb[name].column_dimensions['B'].width =10
    wb[name].column_dimensions['C'].width =20
    wb[name].column_dimensions['D'].width =90


# Сохраняем итоговый файл
wb.save(f'data/Дети СВО от {current_time}.xlsx')

In [96]:
# создаем список сирот

In [97]:
for name in unit_lst:
    temp_df = sirot_df[sirot_df['Формирующее подр.']== name]
    temp_df.sort_values(by='ФИО',inplace=True)
    dct_unit[name] = temp_df    

t = time.localtime()
current_time = time.strftime('%H_%M_%S', t)

wb = openpyxl.Workbook()
# Переименовываем лист
sheet = wb['Sheet']
sheet.title = 'ЖД'
wb.create_sheet('МО',index=1)
wb.create_sheet('ЭО',index=2)
wb.create_sheet('ХФ',index=3)

for name,df in dct_unit.items():    
    for r in dataframe_to_rows(df,index =False,header=True):
        if len(r) != 1:
            wb[name].append(r)

for name in unit_lst:
    wb[name].column_dimensions['A'].width =40
    wb[name].column_dimensions['B'].width =10
    wb[name].column_dimensions['C'].width =20
    wb[name].column_dimensions['D'].width =90


# Сохраняем итоговый файл
wb.save(f'data/Сироты от {current_time}.xlsx')

C:\Users\1\AppData\Local\Temp\ipykernel_19488\68532904.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.sort_values(by='ФИО',inplace=True)